<div class="container-fluid">
<div class="row imgg" style="height: 500px;">
	<h1 style="text-align: center;">Registration</h1>
	<h2 style="text-align: center;">Choose account type</h2>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<button class="btn btn-success btn-lg col-md-3 col-xs-8 col-md-offset-2 col-xs-offset-2 register-btn button2"><span class="glyphicon glyphicon-user glysize"></span><br />
			<%= link_to 'Startup',  new_user_registration_path(:role_id => '1') %>
		</button>
	<button class="btn btn-warning btn-lg col-md-3 col-xs-8 col-md-offset-2 col-xs-offset-2 register-btn button2"><span class="glyphicon glyphicon-equalizer glysize"></span><br />
		<%= link_to 'Client',  new_user_registration_path(:role_id => '2') %> </button>
</div>
</div>
</div>