
<div class="container-fluid">
	
<div class="row imgg" style="height: 500px;">
	<h1 style="text-align: center;">Registration</h1>
	<h2 style="text-align: center;">Choose Account Type</h2>
	 
	  	<div class="center-block">
	  		 <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">  
		<%= link_to new_user_registration_path(:role_id => '1') do %>
		<button class="btn btn-success btn-lg col-lg-offset-1 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 register-btn button2"><span class="glyphicon glyphicon-user glysize"></span><br />Startup
			<%#= link_to 'Startup',  new_user_registration_path(:role_id => '1') %>
		</button>
		<% end %>
	</div>
	 <!-- </div>
		<div class="col-md-2"> --> 
		<div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">	
		<%= link_to new_user_registration_path(:role_id => '2') do %>
	<button class="btn btn-warning btn-lg col-lg-offset-1 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 register-btn button2"><span class="glyphicon glyphicon-equalizer glysize"></span><br />
		Client
		 </button>
		 <% end %>
		
	</div>	 
</div>
</div>
</div>
