

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
		<h2>YOUR PROJECTS</h2>
	</div>
</div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card">
  	<div class="project_preview">
  		<div class="inner_bg">
		  	<h3>Project Name</h3>
		  	<p>
		  		Description is the pattern of development clarification needed that presents a word picture of a thing, a person, a situation, or a series of events. It is one of four rhetorical modes also known as modes of discourse, along with exposition, argumentation, and narration. Each of the rhetorical modes is present in a variety of forms and each has its own purpose and conventions. 
		  	</p>
		  	
		  	<img src="/assets/money_icon.png" height="40px" width="40px" style="padding: 5px;">
		  	Budget
		
		  	<img src="/assets/clock.png" height="40px" width="40px" style="padding: 5px;">
		  	Time 
		  	
		  	<img src="/assets/bids.png" height="40px" width="40px" style="padding: 5px;">
		  	bids
		  	<br>
		  	<%=link_to client_project_path do%>
		  	<button class="view_button">view button</button>
		  	<%end%>
		</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card">
  	<div class="project_preview">
  		<div class="inner_bg">
		  	<h3>Project Name</h3>
		  	<p>
		  		Description is the pattern of development clarification needed that presents a word picture of a thing, a person, a situation, or a series of events. It is one of four rhetorical modes also known as modes of discourse, along with exposition, argumentation, and narration. Each of the rhetorical modes is present in a variety of forms and each has its own purpose and conventions. 
		  	</p>
		  	
		  	<img src="/assets/money_icon.png" height="40px" width="40px" style="padding: 5px;">
		  	Budget
		
		  	<img src="/assets/clock.png" height="40px" width="40px" style="padding: 5px;">
		  	Time 
		  	
		  	<img src="/assets/bids.png" height="40px" width="40px" style="padding: 5px;">
		  	bids
		  	<br>

		  	<button class="view_button">view button</button>

		</div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card">
  	<div class="project_preview">
  		<div class="inner_bg">
		  	<h3>Project Name</h3>
		  	<p>
		  		Description is the pattern of development clarification needed that presents a word picture of a thing, a person, a situation, or a series of events. It is one of four rhetorical modes also known as modes of discourse, along with exposition, argumentation, and narration. Each of the rhetorical modes is present in a variety of forms and each has its own purpose and conventions. 
		  	</p>
		  	
		  	<img src="/assets/money_icon.png" height="40px" width="40px" style="padding: 5px;">
		  	Budget
		
		  	<img src="/assets/clock.png" height="40px" width="40px" style="padding: 5px;">
		  	Time 
		  	
		  	<img src="/assets/bids.png" height="40px" width="40px" style="padding: 5px;">
		  	bids
		  	<br>

		  	<button class="view_button">view button</button>

		</div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card">
  	<div class="project_preview">
  		<div class="inner_bg">
		  	<h3>Project Name</h3>
		  	<p>
		  		Description is the pattern of development clarification needed that presents a word picture of a thing, a person, a situation, or a series of events. It is one of four rhetorical modes also known as modes of discourse, along with exposition, argumentation, and narration. Each of the rhetorical modes is present in a variety of forms and each has its own purpose and conventions. 
		  	</p>
		  	
		  	<img src="/assets/money_icon.png" height="40px" width="40px" style="padding: 5px;">
		  	Budget
		
		  	<img src="/assets/clock.png" height="40px" width="40px" style="padding: 5px;">
		  	Time 
		  	
		  	<img src="/assets/bids.png" height="40px" width="40px" style="padding: 5px;">
		  	bids
		  	<br>

		  	<button class="view_button">view button</button>

		</div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card">
  	<div class="project_preview">
  		<div class="inner_bg">
		  	<h3>Project Name</h3>
		  	<p>
		  		Description is the pattern of development clarification needed that presents a word picture of a thing, a person, a situation, or a series of events. It is one of four rhetorical modes also known as modes of discourse, along with exposition, argumentation, and narration. Each of the rhetorical modes is present in a variety of forms and each has its own purpose and conventions. 
		  	</p>
		  	
		  	<img src="/assets/money_icon.png" height="40px" width="40px" style="padding: 5px;">
		  	Budget
		
		  	<img src="/assets/clock.png" height="40px" width="40px" style="padding: 5px;">
		  	Time 
		  	
		  	<img src="/assets/bids.png" height="40px" width="40px" style="padding: 5px;">
		  	bids
		  	<br>

		  	<button class="view_button">view button</button>

		</div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 card">
  	<div class="project_preview">
  		<div class="inner_bg">
		  	<h3>Project Name</h3>
		  	<p>
		  		Description is the pattern of development clarification needed that presents a word picture of a thing, a person, a situation, or a series of events. It is one of four rhetorical modes also known as modes of discourse, along with exposition, argumentation, and narration. Each of the rhetorical modes is present in a variety of forms and each has its own purpose and conventions. 
		  	</p>
		  	
		  	<img src="/assets/money_icon.png" height="40px" width="40px" style="padding: 5px;">
		  	Budget
		
		  	<img src="/assets/clock.png" height="40px" width="40px" style="padding: 5px;">
		  	Time 
		  	
		  	<img src="/assets/bids.png" height="40px" width="40px" style="padding: 5px;">
		  	bids
		  	<br>

		  	<button class="view_button">view button</button>

		</div>
    </div>
  </div>
  

