<div class="requirements">
	<div class="row heading_highlight">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p_head">
				<%= project.name %>
		</div>	
	</div>
	<hr style="margin-top: 0px; margin-bottom: 10px; border-color: #2C2C2D;">
	<div class="row heading_highlight" >
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p_tech">
		<img src="/assets/tech2.png" height="35px" width="35px" style="padding: 5px;">
			<%= project.technology.technology_name %>
			 &nbsp;&nbsp;
			<span class="glyphicon glyphicon-calendar"></span>
			<%= project.created_at.strftime("%b %d, %Y")%> 
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p_req">
			<p>
				<img src="/assets/project.gif"  class="img-responsive display_pic">
				<%= raw project.requirement %>
			</p>
		</div>
	</div>
</div>