
<% if notice %>
<div class="notice_wrapper">
  <p id="notice"><%= notice %></p>
</div>
<%end %>
<div class="container-fluid top_image">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 outer_div" style="">
    <div class="div_with_text" style="">
      <h1>MOHIT</h1>
      <button class="click_me" id="underbidding">Underbidding Projects</button>
      &nbsp;&nbsp;
      <button class="click_me" id="working">Working Projects</button>
    </div>
    
  </div>
  
</div>






<div class="container">
	

<div class="row" style="margin-top: 10px;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="all">
		<% @projects.each do |project|%>
		<%= render(partial: '/client/currently_underbidding',:locals => {:project => project}) %>
		<%end%>
	</div>
</div>


	
<div class="row">
<div id="tab1">
 
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
	 
  <% if @project.count == 0 %>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
  <h1>YOU DON'T HAVE ANY UNDERBIDDING PROJECTS</h1>
</div>
  <% else %>  
	 <% @project.each do|project|%>
	<%= render(partial: '/client/currently_underbidding', :locals => {:project => project}) %>
	<%end%>

  <%end%>
	</div>
  
</div>


<div id="tab2">
    
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

    <% if @projects_alloted.count == 0 %>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
    <h1>YOU DON'T HAVE ANY WORKING PROJECTS</h1>
</div>
  <% else %>

 	<% @projects_alloted.each do|project|%>
 <%= render(partial: '/client/currently_working', :locals => {:project => project}) %>
 <%end%>

 <%end%>
</div>
 
</div>
	
</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function(){
			$('.notice_wrapper').fadeOut("slow",function(){
				$(this).remove();
			})
		},2000);

    $("#underbidding").click(function(){
      $("#all").css("display","none");
      $("#tab1").css("display","block");

      $("#tab2").css("display","none");
    });

    $("#working").click(function(){
      $("#all").css("display","none");

      $("#tab1").css("display","none");
      $("#tab2").css("display","block");
    });






	});
    

 
</script>

