
<% if notice %>
<div class="notice_wrapper">
  <p id="notice"><%= notice %></p>
</div>
<%end %>
<div class="container" style="background-color: #E8EAEA;">
<%= render(partial: '/client/currently_underbidding') %>
</div>


<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function(){
			$('.notice_wrapper').fadeOut("slow",function(){
				$(this).remove();
			})
		},2000);
	});
    
</script>

