<div class="container-fluid top_image">

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 outer_div" style="">
    <div class="div_with_text" >
      <h1>MOHIT</h1>
      <button class="click_me" id="details">Project Details</button>
      &nbsp;&nbsp;
      <button class="click_me" id="bids">Project Bids</button>
    </div>
    
  </div>
  
</div>




<div class="container">

<div class="row">

	<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12 padding_20" id="tab1">


<%= render(partial: '/client/project_details', :locals => {:project => @project}) %>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_20" id="tab2">
<%= render(partial: '/client/bidding_display',:locals => {:project => @project,:startup => @startup}) %>
</div>
</div>



</div>


<script type="text/javascript">



 $(document).ready(function(){

 		 $("#details").click(function(){
      $("#tab1").css("display","block");
      $("#tab2").css("display","none");
    });

    $("#bids").click(function(){
      $("#tab1").css("display","none");
      $("#tab2").css("display","block");
    });

    $( window ).load(function() {
  		$("#tab1").css("display","block");
	});

		var id_array=[];
		var temp=0;
		var pos=0;
		var change=0;
		var count=0;
		$(".pref").click(function(){
			var id = $(this).attr('id');
			
			while(temp!=count)
			{
				if(id==id_array[temp])
				{
					change=1;
					pos=temp;
					break;
				}
				temp++;
			}
			if(change==1)
			{
				$(this).text("preferences");
				for(var i=temp;i<count;i++)
				{
					id_array[i]=id_array[i+1];
					var str1=id_array[i];
					var str2 ="#";
					var str3=str2.concat(str1);
					$(str3).text(i+1);
				}
				count--;
				change=0;
			}
			else
			{
				id_array[count]=id;
				count++;
				$(this).text(count);
			}
			temp=0;
		});

	




	$("#form").submit( function(eventObj) {


		if(count == 0)
		{
			$('#error').fadeIn("slow",function(){	
			})
			$('#error').css("padding","10px");
			$("#error").text("Select your preferences");
			setTimeout(function(){
			$('#error').fadeOut("slow",function(){	
			})
		},2000);
			return false;
		}
		else{
			$('<input />').attr('type', 'hidden')
          .attr('name', "user_id")
          .attr('value', id_array).attr('id',"user_id")
          .appendTo('#form');
      $('<input />').attr('type', 'hidden')
          .attr('name', "project_id")
          .attr('value', <%= @project.id%>)
          .appendTo('#form');
      $('<input />').attr('type', 'hidden')
          .attr('name', "startup_status_id")
          .attr('value', 3)
          .appendTo('#form');
		}

  	});
	})
</script>