
<div class="container">



<%= render(partial: '/client/project_details', :locals => {:project => @project}) %>

<br>


<%= render(partial: '/client/bidding_display',:locals => {:project => @project,:startup => @startup}) %>




</div>


<script type="text/javascript">



 $(document).ready(function(){


		var id_array=[];
		var temp=0;
		var pos=0;
		var change=0;
		var count=0;
		$(".pref").click(function(){
			var id = $(this).attr('id');
			
			while(temp!=count)
			{
				if(id==id_array[temp])
				{
					change=1;
					pos=temp;
					break;
				}
				temp++;
			}
			if(change==1)
			{
				$(this).text("preferences");
				for(var i=temp;i<count;i++)
				{
					id_array[i]=id_array[i+1];
					var str1=id_array[i];
					var str2 ="#";
					var str3=str2.concat(str1);
					$(str3).text(i+1);
				}
				count--;
				change=0;
			}
			else
			{
				id_array[count]=id;
				count++;
				$(this).text(count);
			}
			temp=0;
		});

	




	$("#form").submit( function(eventObj) {


		if(id_array.length == 0)
		{
			$('#error').fadeIn("slow",function(){	
			})
			$('#error').css("padding","10px");
			$("#error").text("Select your preferences");
			setTimeout(function(){
			$('#error').fadeOut("slow",function(){	
			})
		},2000);
			return false;
		}
		else{
			$('<input />').attr('type', 'hidden')
          .attr('name', "user_id")
          .attr('value', id_array).attr('id',"user_id")
          .appendTo('#form');
      $('<input />').attr('type', 'hidden')
          .attr('name', "project_id")
          .attr('value', <%= @project.id%>)
          .appendTo('#form');
      $('<input />').attr('type', 'hidden')
          .attr('name', "startup_status_id")
          .attr('value', 3)
          .appendTo('#form');
		}

  	});
	})
</script>