
	<div class="container-fluid startupindex">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
<% if notice %>
<div class="notice_wrapper">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<div>
	<h2 style="text-align: center;">
		Available Projects
	</h2>
</div>


<% @projects.each do|project| %>
	<div class="thumbnail">

<%= render(partial: '/startup/project_preview',locals: {project: project}) %> 
</div>

<% end %>
</div>
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			</div>
</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function(){
			$('.notice_wrapper').fadeOut("slow",function(){
				$(this).remove();
			})
		},2000);
	});
    
</script>
