<div class="container">
	

<% if notice %>
<div class="notice_wrapper">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<div>
	<h2>
		Available Projects
	</h2>
</div>


<% @projects.each do|project| %>

<%= render(partial: '/startup/project_preview',locals: {project: project}) %> 

<% end %>




</div>
<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function(){
			$('.notice_wrapper').fadeOut("slow",function(){
				$(this).remove();
			})
		},2000);
	});
    
</script>
