<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
	


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/p6.jpg"  style="width:100%;">
      </div>

      <div class="item">
        <img src="/assets/p11.jpg" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="/assets/p13.jpg" style="width:100%;">
      </div>
    </div>
   </div>
  </div>

</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
	<div class="tab">

  <button class="tablinks" onclick="openProject(event, 'Toggle1')">Selected Projects</button>
  <button class="tablinks" onclick="openProject(event, 'Toggle2')">Bidded Projects</button>
</div>
</div>
</div>
<div class="row pro_page">
  
<div id="Toggle1" class="tabcontent">
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	<h1 style="text-align: center;">Selected Projects</h1>
	<% @startups.each do|startup| %>

	<div class="thumbnail">
<%@temp=@projects.find(startup.project_id)%>
<%= render(partial: '/startup/form_job_offer',locals: {project: @temp}) %> 
<% end %>
</div>


	<%#= render(partial: '/projects/project_details',locals: {project: @project}) %> 
	</div>
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  </div>
</div>



	<div id="Toggle2" class="tabcontent">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
	<h1 style="text-align: center;">Bidded projects</h1>

<%#  @startups_bidded.each do|startup| %>
  <%= render(partial: '/startup/form_job_offer2',locals: {project: @temp}) %> 
<%# end %>
 </div>
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  </div>
</div>

</div>


</div>


<script>
function openProject(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
function showInput() {
      var count = $("#user_input").val()
     
      $(".fields").each(function(){
        $(this).remove()
      })
      for (var i=1; i<=count; i++)
      {
        $(".add_nested_fields").click()
      }
  }
  $(window).load(function() {
  $("#Toggle1").show();
 
});
</script>

     
	
 