

<h1>Project Details</h1>
<table>
<thead>
	<tr>
		
		<th>
			Project name
		</th>
		<th>
			Company name
		</th>
	</tr>

<%# @projects.each do |project| %>
</thead>
<tbody>

<td>
<%= @project.name %>
</td>

<%#= @project.user_id.company_name %>
<td>
<%=   User.find(@project.user_id).company_name %>
</td>
<%# end %>

</tbody>
</table>
