<div class="top_image1">
  <%byebug%>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 outer_div">
    <div class="div_with_text" style="">

      <h1 style="text-align: center; color: white;">  <%= current_user.company_name %></h1>
    <ul id="myTab">
      <li class="click_me1" id="underbidding"> <a href="#underbidding" style="text-decoration: none; color: black;">Project</a></li>
      &nbsp;&nbsp;
      <li  class="click_me1" id="working"><a href="#working" style="text-decoration: none; color: black;">Bidding</a></li>
    </ul>
    </div>
    
  </div>
  
</div>
<div class="container" >
<div class="row"> 
  <div class="collapse" id="tab1" >
 
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;"> 

  <%= render(partial: '/projects/project_details',locals: {project: @project}) %> 
  </div>
  
</div>
</div>
<div class="row padding_20"> 
<div class="collapse" id="tab2">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 add_pic" style="height: 500px;">

     </div> 
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

<%= render(partial: '/bids/form',locals: {bid: @bid, project_id: @project.id, url: bids_path}) %> 
</div>
  </div>  
</div>
</div>
</div>
  <script>

$(document).ready(function() {
    setTimeout(function(){
      $('.notice_wrapper').fadeOut("slow",function(){
        $(this).remove();
      })
    },2000);

});
function showInput() {
      var count = $("#user_input").val()
     
      $(".fields").each(function(){
        $(this).remove()
      })
      for (var i=1; i<=count; i++)
      {
        $(".add_nested_fields").click()
      }
  }
 $(window).load(function() {
  alert("hgfhg")
  var hash = window.location.href;
  var hash1 = window.location.hash;
  if (hash1 == "#underbidding"){
      $("#tab1").show();    
  }
  else if(hash1 == "#working"){
  $("#tab2").show();
  }
  else{
    
     $("#tab1").show();
  }

  });



$('#underbidding').click(function(e) {
 $("#tab1").show();
 $("#tab2").hide();
 var id = $(e.target).attr("href").substr(1);
  window.location.hash = id;


 });
$('#working').click(function(e) {
 $("#tab2").show();
 $("#tab1").hide();
 var id = $(e.target).attr("href").substr(1);
  window.location.hash = id;

 });

        
</script>
</div>
 	