<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
	


<div class="row" style="height: 300px;">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 startup_proj" style="height: 300px;">
    
  </div>

</div>


	<!--  <div class="row">
 <div class="container1" id="container1" onclick="onContainer1Click(this)">
               <div class="switch" id="switch">
               </div>
               <div class="label left">Test</div>
               <div class="label right"">Build</div>
              </div>
              <script>
              	function onContainer1Click (event) {
                if(event.classList.contains('off')) {
                event.classList.remove('off');
                event.classList.add('my');
                } else {
                event.classList.add('off');
                 }
                   }
              </script>
          </div>
          <div class="row"> -->

<%#= render(partial: '/projects/project_details',locals: {project: @project}) %> 
         
       <!--       
</div> 
 -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
	<div class="tab">

  <button class="tablinks" onclick="openProject(event, 'Toggle1')">Project</button>
  <button class="tablinks" onclick="openProject(event, 'Toggle2')">Bidding</button>
</div>
</div>
</div>
<div class="row pro_page">
  
<div id="Toggle1" class="tabcontent">
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
	<h1 style="text-align: center;">Project</h1>
	<%= render(partial: '/projects/project_details',locals: {project: @project}) %> 
	</div>
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  </div>
</div>
	<div id="Toggle2" class="tabcontent">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
	<h1>Bid for project</h1>
   <form>
    <label><b>Enter No of installments</b></label>
    <input type="text" name="message" id="user_input">

  </form>

 <input type="submit" onclick="showInput();"><br/>  
  
   <label>Add your installments: </label>
	<%= render(partial: '/bids/form',locals: {bid: @bid, project: @project.id}) %> 
  <%#= render(partial: '/bids/installment_fields',locals: {bid: @bid, project: @project.id}) %> 
	
  <%#= link_to "button","#", id: "Button" %>
 <!--  <div id="myForm">
  <%#=  render(partial: '/bids/form',locals: {bid: @bid, project: @project.id}) %>
</div> -->

  </div>
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  </div>
</div>
</div>
<script>
function openProject(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}


//      function showInput() {
//                    var e = document.getElementById('user_input');
//                     if (!/^[0-9]+$/.test(e.value)) 
//  { 
//  alert("Please enter onyl number.");
// e.value = e.value.substring(1,e.value.length-1);
//  }
  
//   for( e=1; e<=10; e++ )  {

//     $(this).append(
//       "<div>" +
// "<%#= escape_javascript (render partial: '/bids/form')  %>" + "</div>"
// );
      



  
//
function showInput() {
      var count = $("#user_input").val()
     
      $(".fields").each(function(){
        $(this).remove()
      })
      for (var i=1; i<=count; i++)
      {
        $(".add_nested_fields").click()
      }
  }
 $(window).load(function() {
  $("#Toggle1").show();
 
});
</script>

     
	

</div>
 	