<div class="container-fluid">
<div class="col-lg-12 first item">
  <div class="text_first vertical_center">
    <h1>
      Lope Work
    </h1>
  </div>
</div>

<div class="col-lg-12 about_us item">
   <div class="text_about_us vertical_center">
    <p>
      By joining Fishburners you <span class="span_color1"> instantly </span> get a <span class="span_color2">multi-city</span> pass! Enjoy access to all locations and online <span class="span_color3">communities</span> regardless of <span class="span_color4"> membership </span> type.
    </p>
  </div> 
</div>

<div class="col-lg-12 my_team_bg item">
  <div class="my_team" style="margin-top: 10px;">
    <h1>Meet Our Team</h1>
    <br>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#demo">
      
      <a href="#demo" data-toggle="collapse">
        <img src="/assets/team3.jpg" class="img-circle img-responsive img_sizing img_hover" style="margin: 0 auto;" alt="Random Name">
      </a>
   

       <div id="demo" class="collapse detail_indi">
        <p>Ceo</p>
        <p>B-tech</p>
        <p>Member since 1988</p>
      </div> 
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      
      <a href="#demo2" data-toggle="collapse">
        <img src="/assets/team2.jpg" class="img-circle img-responsive img_hover" style="margin: 0 auto;" alt="Random Name">
      </a>
   
     <div id="demo2" class="collapse detail_indi">
        <p>Ceo</p>
        <p>B-tech</p>
        <p>Member since 1988</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
     
      <a href="#demo3" data-toggle="collapse">
        <img src="/assets/team3.jpg" class="img-circle img-responsive img_sizing img_hover" style="margin: 0 auto;" alt="Random Name">
      </a>
     
  <div id="demo3" class="collapse detail_indi">
        <p>Ceo</p>
        <p>B-tech</p>
        <p>Member since 2005</p>
      </div> 
    </div>
  </div>
  </div>
</div>



<div class="col-lg-12 foot_my item">
  <div class="footer_first vertical_center">
    <h1>CONTACT US</h1>
    <p>A-45, Industrial Area, Phase-VIII-B,</p><p> Sector 74, Sahibzada Ajit Singh Nagar,</p><p> Sahibzada Ajit Singh Nagar, Punjab 160059</p>
    <p>Phone number : 9041049190</p>
    <p>Rating : <img src="/assets/star.png" height="20px" width="20px">
      <img src="/assets/star.png" height="20px" width="20px">
      <img src="/assets/star.png" height="20px" width="20px">
      <img src="/assets/star.png" height="20px" width="20px">
    </p>
  </div>
</div>
<div class="col-lg-12 map">
</div>




</div>

<script type="text/javascript">
  $(document).ready(function(){
    // var lastScrollTop = 0;
    // $(window).scroll(function(event){
    //    var st = $(this).scrollTop();
    //    if (st > lastScrollTop){

         
    //    } 
    //    else {
    //        var cutoff = lastScrollTop;
    //       $('.item').removeClass('top').each(function() {
    //       if ($(this).offset().top > cutoff) {
    //         $(this).addClass('top');
    //         return false; 
    //         }
    //       });

    //       $('html, body').animate({
    //       scrollTop: $(".top").offset().top }, 2000);
          

    //    }
    //    lastScrollTop = st;
    // });
  })

</script>


