<div class="container-fluid">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img1" style="padding-left: 0px; padding-right: 0px;">
   
    <!-- <img src="/assets/2.jpg" class="img-responsive" width="100%">
 -->
   </div>
  </div>

   <div class="row" style="background-color: #F0F8FF;">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <img src="/assets/company.png" class="im" align="right">
  </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 25px;">
    <h4>Total companies</h4>

  </div>
</div>
    
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="row">
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img src="/assets/startup.png" class="im" align="right">
    
  </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 25px;">
    <h4>Startups</h4>

  </div>

    </div>
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="row">

     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img src="/assets/client.png" class="im" align="right">
    
  </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 25px;">
    <h4>Clients</h4>

  </div>
</div>
    
   </div>
    
  </div>
<!-- </div>
<div class="container"> -->
  <h2 style="text-align: center; color:   #F08080;">Meet Our Team</h2>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      
      <a href="#demo" data-toggle="collapse">
        <img src="/assets/6.png" class="img-circle person" alt="Random Name">
      </a>
     <!--  <p class="text-center"><strong>Name</strong></p><br> -->
       <div id="demo" class="collapse">
        <p style="text-align: center;">Ceo</p>
        <p style="text-align: center;">B-tech</p>
        <p style="text-align: center;">Member since 1988</p>
      </div> 
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      
      <a href="#demo2" data-toggle="collapse">
        <img src="/assets/6.png" class="img-circle person" alt="Random Name">
      </a>
     <!--  <p class="text-center"><strong>Name</strong></p><br> -->
     <div id="demo2" class="collapse">
        <p style="text-align: center;">Ceo</p>
        <p style="text-align: center;">B-tech</p>
        <p style="text-align: center;">Member since 1988</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
     
      <a href="#demo3" data-toggle="collapse">
        <img src="/assets/6.png" class="img-circle person" alt="Random Name">
      </a>
      <!--  <p class="text-center"><strong>Name</strong></p><br> -->
  <div id="demo3" class="collapse">
        <p style="text-align: center;">Ceo</p>
        <p style="text-align: center;">B-tech</p>
        <p style="text-align: center;">Member since 2005</p>
      </div> 
    </div>
  </div>
</div>
