
<% if notice %>
<div class="notice_wrapper">
  <p id="notice"><%= notice %></p>
</div>
<%end %>


<div class="container-fluid">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img1 img-responsive" style="padding-left: 0px; padding-right: 0px;">
   <h2 style="text-align: center; color: white;">Welcome to Lopework,Where Startups Grow.</h2>
    <!-- <img src="/assets/2.jpg" class="img-responsive" width="100%">
 -->
   </div>
  </div>

   <div class="row" style="background-color: #F0F8FF;">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<!-- <div class="row"> -->
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px; padding-right: 0px;">
    <img src="/assets/company.png" class="im img-responsive" align="right">
  </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 25px; padding-left: 0px; padding-right: 0px;">
    <h1 style="display: inline;"><%= @all %></h1>
    <span style="display: inline; font-size: 20px;">Total Companies</span>

  </div>
<!-- </div>
 -->    
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <!-- <div class="row"> -->
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px; padding-right: 0px;">
      <img src="/assets/startup.png" class="im img-responsive" align="right">
    
  </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 25px; padding-left: 0px; padding-right: 0px;">
    <h1 style="display: inline;"><%= @startup_count %></h1>
    <span style="display: inline; font-size: 20px;">Startups</span>

  </div>
</div>
    <!-- </div>
    -->
   <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
   <!-- <div class="row"> -->
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px; padding-right: 0px;">
      <img src="/assets/client.png" class="im img-responsive" align="right">
    
  </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 25px; padding-left: 0px; padding-right: 0px;">
    <h1 style="display: inline;"><%= @client_count %></h1>
    <span style="display: inline; font-size: 20px;">Clients</span>

 <!-- </div> -->
</div>
    
   </div>
    
  </div>
<div class="row index_comma">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 outer_div">

 <div class="div_with_text">

 <!--  <h1 style="color: black; background-color: white;">hhh</h1> -->
 <h2>What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the result!"<br><span>Michael Roe, Vice President, Comment Box</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

 </div>
      
    </div>
  </div>
</div>
  <h2 style="text-align: center; color:#2C3E50; margin-bottom: 20px;">Meet Our Team</h2>
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#demo">
      
      <a href="#demo" data-toggle="collapse">
        <img src="/assets/6.png" class="img-circle person img-responsive" style="margin: 0 auto;" alt="Random Name">
      </a>
   

       <div id="demo" class="collapse">
        <p style="text-align: center;">Ceo</p>
        <p style="text-align: center;">B-tech</p>
        <p style="text-align: center;">Member since 1988</p>
      </div> 
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      
      <a href="#demo2" data-toggle="collapse">
        <img src="/assets/6.png" class="img-circle person img-responsive" style="margin: 0 auto;" alt="Random Name">
      </a>
     <!--  <p class="text-center"><strong>Name</strong></p><br> -->
     <div id="demo2" class="collapse">
        <p style="text-align: center;">Ceo</p>
        <p style="text-align: center;">B-tech</p>
        <p style="text-align: center;">Member since 1988</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
     
      <a href="#demo3" data-toggle="collapse">
        <img src="/assets/6.png" class="img-circle person img-responsive" style="margin: 0 auto;" alt="Random Name">
      </a>
      <!--  <p class="text-center"><strong>Name</strong></p><br> -->
  <div id="demo3" class="collapse">
        <p style="text-align: center;">Ceo</p>
        <p style="text-align: center;">B-tech</p>
        <p style="text-align: center;">Member since 2005</p>
      </div> 
    </div>
  </div>

</div>
   
  


<script type="text/javascript">
  $(document).ready(function() {
    setTimeout(function(){
      $('.notice_wrapper').fadeOut("slow",function(){
        $(this).remove();
      })
    },2000);
  });
    
</script>




