@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');
@import url('https://fonts.googleapis.com/css?family=Limelight');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.error {
  background-color: #69B9A9;
  display: block;
  border-radius: 10px;
}

#client_preference_submit {
  width: 200px;
  height: 50px;
  background-color: #284949;
  display: inline-block;
  float: right;
  font-family: 'Montserrat', sans-serif;

}

#client_preference_submit:hover {
  box-shadow: 0px 5px 5px 0px #A9BCCD;
}

.text {
  padding: 0px;
}
.text p {
  color: #F1C688;
  font-family: 'PT Serif', serif;

}

.buttons button {
  background-color: #F1C688;
  border: 0px;
  font-family: 'Montserrat', sans-serif;
}

.buttons button:hover {
  box-shadow: 0px 5px 5px 0px #A9BCCD;
}

.company_name {
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  word-break: break-word;
  background-color: #284949;
  color: rgb(245, 199, 149);
  /*245, 199, 149*/
  
}

.pref {
  width: 100px;
 height: 40px;
}

.pref1 {
    width: 100px;
  margin-top: 10px;
 height: 40px;
}

.border {
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
  height: auto;
}

.modal-content {
  height: 600px;
   overflow:scroll;
    overflow-x:hidden;
}

.total_insta {
  text-align: center;
  font-size: 15px;
}

.modal-title {
  font-size: 35px;
  text-align: center;
}

.startup_details {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #284949;
}

.startup_details span {
  display: inline;
  padding: 4px;
  border: 1px solid rgb(245, 199,149);
  color: #F1C688;
  background-color: rgba(245, 199, 149,0);
}



.requirements {
  border-radius: 15px;
  padding-top:10px;
  margin-top: 20px;
  padding: 20px;
  background-color: #CACCCC;

}

.startup_brief {
  background-image: url('/assets/client_1.jpg');
  background-position: center-center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 0px;
}

.startup_brief p {
  font-size: 35px;
  font-weight: 600;
}

.p_req {
  letter-spacing: 0px;
  word-spacing: 3px;
  text-align: justify;
  font-family: 'Lora', serif;
}

.card {
  display: table;
  padding: 10px;
}
.project_preview {
  padding-top: 50px;
  padding-bottom: 50px;
  border: 15px #C8CAC9 solid;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  /*background-color: #021227;*/
  background-image: url('/assets/bg.jpg');
  background-position: center-left;
  background-repeat: no-repeat;
  background-size: cover;
}
.project_preview:hover {
  box-shadow: 0px 10px 10px 0px #A9BCCD;

}

.inner_bg {
  
  width: 100%;
  padding: 5px;
  display: inline-block;
  background-color: rgba(255, 255, 255,0.8);
  padding-bottom: 8px;
}
.inner_bg h3 {
  text-align: center;
  padding-bottom: 7px;
  margin-top: 0px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;

}
.inner_bg p {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.inner_bg p a {
  color: black;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.view_button {
  width: 100%;
  background-color: #415D52;
  border:0px;
  border-radius: 5px;
  color: white;
}
.view_button:hover {
  background-color: #70B79C;
  box-shadow: 0px 2px 2px 0px #8C99A4;
}
.heading h2 {
  text-align: center;
  font-family: 'Limelight', cursive;
 
}

.p_head {
  font-size: 30px;
  font-weight: 300;
  font-family: 'Orbitron', sans-serif;
}
.p_tech {
  font-size: 20px;
  font-weight: 300;
}
.h_bidding {
  font-size: 35px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;

  margin-top: 10px;
}
.client_pic {
  height: 150px;
  display: inline-block;
  border: 6px solid #E7E9EC;
}







label.error {
    display: block;
    background: transparent;
    border-color: transparent;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .9);
    padding: 2px 5px;
    color: red;
    margin-top: -20px;
}
#user_technology_ids-error {
  margin-top: 0px;
}


#error_explanation {
  background-color: #F3CF49;
  border-radius: 10px;
  padding: 5px;
}
#error_explanation h2 {
  display: none;
}

#error_explanation ul li {
  font-size: 20px;
  padding: 0px;
}


.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

html ,
body {
  height: 100%;

}
.wrapper {
  height: calc(~"100vh-100px");
}


.footer {
}


.notice_wrapper {
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: skyblue;
  }

.notice_wrapper p{
      text-align: center;
    margin: 0px;
    padding: 20px 0px;
}

.navbar-header {
    background-color: white;
}
 
.flash_message {
  background-color: #F3CF49;

  border-radius: 10px;
}


.outer>#logo>a>img{ 
    float: left;
    height: 50px;
    
    margin-top: 2px;
    margin-left: 15px;
}


./*wrapper {
  min-height: 100%;
  margin: 0 ;
}
#main {
  overflow: auto;
}*/



.site-footer {
    color: #666666;
    border-top: 0px solid #fff;
    margin: 0px auto;
    font-size: 70%;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 30px 10px 0px 10px;
    text-align: center;
    width: 100%;
}
.person {   
     height: 200px;
     border-radius: 200px;     
  }

  .person:hover {
      border-color: #f1f1f1;
      opacity: 0.7;
  }
.imgg {
 background-image: url('/assets/4.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 

  }
  .img1 {
 background-image: url('/assets/2.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 500px;

  }
   .img2 {
 background-image: url('/assets/7.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 100%;
  }

.button5 {
   
    background-color: transparent; 
    border: none;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
     color: black;   
}
.button5:hover {
   
    text-decoration: none;
    color: black;
}
.glysize{
  font-size: 30px;
}
/*.button1 {
   
    background-color: #F08080; 
    border: none;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
     color: black;
     float: left;
     margin-top: 200px;
    
    
    
}
.button1>a{
  color: black;
  font-size: 30px;
}
.button1>a:hover {
   
    text-decoration: none;
    color: black;
}
.button2 {
   
    background-color: #F08080; 
    border: none;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
     color: black;
     float: right;
     margin-top: 200px;
    
    
}
.button2>a{
  color: black;
   font-size: 30px;
}
.button2>a:hover {
   
    text-decoration: none;
    color: black;
}*/
.button2>a{
  color: black;
   font-size: 30px;
}
.button2>a:hover {
   
    text-decoration: none;
    color: black;
}
.register-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 120px;
    min-width: 200px;

}


.tag-line {
    position: absolute;
    font-size: 30px;
   
   width: 100%;
    text-align: right;
    float: left;
    text-align: left;
   margin-left: 70px;
    font-family: oblique;
}
.but{
  margin-top: 50px;

}
.navbar-nav>li>a:hover {
  background-color: white;
  color: #F08080;

}
.navbar-nav>li>a {
  color: black;
}

.line{
   position: absolute;
    font-size: 20px;
    
   width: auto;
    text-align: right;
    float: left;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
     font-family:  oblique;
   

}

.im{
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.indexno{
  margin-top: 30px;

}
span.icon-bar{
    background-color: black;

}
.colo{
  color: black;

}
.colo:hover{
  text-decoration: none;
  color:  #F08080;
}
.log{
    width: 360px;
     padding: 1% 0 0;
     margin: auto;
      position: relative;
     background: rgba(255,255,255,0.3);
     padding-left: 30px;
     padding-right: 30px;
     margin-top: 30px;
     margin-bottom: 30px;


}
.log2{
    width: auto;
     padding: 1% 0 0;
     margin: auto;
      position: relative;
     background: rgba(255,255,255,0);
     padding-left: 30px;
     padding-right: 30px;
     margin-top: 30px;
     margin-bottom: 30px;



}
/*@media(max-width: 390px){
  .log2{
   
    width: auto !important;


}*/
.log1{
    width: 360px;
     padding: 1% 0 0;
     margin: auto;
      position: relative;
     background: rgba(255,255,255,0.3);
     padding-left: 30px;
     padding-right: 30px;
     margin-top: 100px;
     margin-bottom: 30px;


}
@media(max-width: 390px){
  .log{
   
    width: auto !important;


}

}
@media(max-width: 390px){
  .log1{
   
    width: auto !important;


}

}
input[type=email], input[type=password], input[type=password], input[type=text], input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
    
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=text]:focus {
    background-color: #ddd;
    outline: none;
     border: 1px solid black; 
  
  }
 
input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
     margin-top: -8px;
}

input[type=submit]:hover {
    color: white;

}
#user_technology_ids{
  width: 300px;
  
  text-align: center;
}
@media (max-width: 390px){
  #user_technology_ids{
  width: 280px !important; 
 
}

}
.center-block{
  width:500px; 
  margin: 0 auto;
   float: middle;
}
@media (max-width: 390px){
 .center-block{
  width: auto !important; 
 
}

}
/*.col-centered{
    float: none;
    margin: 0 auto;
}
*/
/*.container1 {
  float: right;
  position: relative;
  width: 150px;
  height: 45px;
  border: thin solid grey;
  border-radius: 7px;
  cursor: pointer;
}

.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: black;
  transition: all 0.15s ease;
  left: 0;
  z-index: -1;
}

.container1.off {

  border: thin solid #FFE4C4;
}

.container1.off .switch {
  left: 50%;
  background-color: #FFE4C4;
}


.label {
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: center;
  color:grey;
  padding-top: 10px;
  font-size: 20px;
}

.label.right {
  left: 50%;
}

*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    
    float: right;
    margin-right: 30px;
    margin-top: 10px;
     margin-bottom: 10px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: hotpink;

}

/* Change background color of buttons on hover */
.tab button:hover {
   
    background-color: black;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
   
    border-top: none;
}
 .pro_detail{
  margin: auto;

 }
 .thumbnail{
  border: 2px blue;
 background-color: #F5F5F5;

 }
 
 #myform {
  display:none;

}
.startupindex{
  background-image: url('/assets/com1.jpg');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}
.startup_proj{
  background-image: url('/assets/p5.png');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}
.pro_page{
  background-image: url('/assets/project.jpg');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}
/*.pro{
   background-image: url('/assets/projecthead.png');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}*/
.tog_row{
 background-image: url('/assets/tog.jpg');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover; 

}
.pro_form{
  background: rgba(255,255,255,0.3);
  margin-top: 30px;
     margin-bottom: 30px;
}
.job_offer>a{
  color: black;
  float: right;
  font-size: 15px;
  margin-top: 20px;
  text-decoration: none;

}
.job_offer1>a{
  color: black;
  float: right;
  font-size: 15px;
  text-decoration: none;
  margin-top: -20px;

}

.accept_btn{
  float: right;
  margin-bottom: 20px;

}
.accept_btn>a{
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.create_bid>input[type=submit]{
  width: auto;

}
#details_field{
  width: 100%;
}