
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

.reg{
   color: black !important;
}
.body{
  font-family: Open sans-serif;
}
.padding_20 {
  padding-bottom: 20px;
}

  .error {
    color: red;
}
.details_field {
  margin-bottom: 0px !important;
  color: black !important;
  width: 100% !important;
  height: 150px !important;
   background-color: #EBEDEF   !important;
}

.budget_field {
  margin-bottom: 0px !important;
  color: black !important;

   background-color: #EBEDEF   !important;
}

.time_field {
  margin-bottom: 0px !important;
  color: black !important;
   background-color: #EBEDEF   !important;
}

.spacing {
  margin-top: 10px;
}


#all h1 {
  margin-top: 20px;
  text-align: center;
}

.card_top {
  margin-top: 0px;
}

.client_text {
  padding-top: 20px;
}

.client_text p {
  padding: 10px 20px 10px 20px;
  border-radius: 0px;
  letter-spacing: 1.5px;
  display: inline-block;
  font-size: 18px;
  color: white;
  background-color: #284949;
  border: 1px solid #284949;

}

#tab1 {
  display: none;
}

#tab2 {
  display: none;
}

.top_image {
  height: 400px; 
  background: 
  linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
  url('/assets/top_image.jpg');
  background-position: left-center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top_image1 {
  height: 400px; 
  background: 
  linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
  url('/assets/project_page.jpg');
  background-position: left-center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outer_div {
  display: table;
  height: 100%;
}

.div_with_text {
  text-align: center; 
  display: table-cell; 
  color: white;
  vertical-align: middle;
}

.div_with_text h1 {
  margin: 0px;
}

.click_me {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  background-color: white;
  border: 0px;
  color: black;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  border-radius: 2px;
}

.click_me:hover {
  box-shadow: 0px 3px 3px 0px #F1F0EE;
}
.click_me1 {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  background-color: white;
  border: 0px;
  color: black;
  letter-spacing: 1.5px;
  word-spacing: 2px;
}

.click_me1:hover {
 box-shadow: 0px 3px 3px 0px #F1F0EE;

}

.container-fluid {
  padding: 0px;
}

.benifits li {
  font-size: 17px; 
  color: white; 
  padding-bottom: 30px;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.signup {
  text-align: center; 
  color: white;
  margin: 0px;
  padding: 20px;
}


#details_field {
  height: 100px;
}



#details_field-error {
  margin-top: 10px;
}
#user_technology_ids-error {
  margin-top: 0px;
}
#technology_id-error {
  margin-top: 10px;
}

.error1 {
  background-color: #69B9A9;
  display: block;
  border-radius: 10px;
}



#client_preference_submit {
  width: 200px;
  height: 50px;
  background-color: #284949;
  margin-top: 10px;
  color: white;
  border: 0px;
  display: inline-block;
  float: left;
  /*margin-top: -67px;*/
  font-family: 'Montserrat', sans-serif;

}
#details_field
{
  width: 100%;
}
#client_preference_submit:hover {
  box-shadow: 0px 5px 5px 0px #A9BCCD;
}

.text {
  padding: 0px;
}
.text p {
  color: #F1C688;
  font-family: 'PT Serif', serif;

}

.buttons {
  padding: 0px;
}

.buttons button {
  background-color: #F1C688;
  border: 0px;
  border-radius: 3px;
}

.buttons button:hover {
  box-shadow: 0px 5px 5px 0px #A9BCCD;
}

.company_name {
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  word-break: break-word;
  background-color: #284949;
  color: rgb(245, 199, 149);
  text-transform: uppercase;  
  /*245, 199, 149*/
  
}

.pref {
  width: 100px;
 height: 40px;
}

.pref1 {
    width: 100px;
  margin-top: 10px;
 height: 40px;
}

.border {
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
  height: auto;
}

.modal-content {
  height: 600px;
   overflow:scroll;
    overflow-x:hidden;
}

.total_insta {
  text-align: center;
  font-size: 15px;
}

.modal-title {
  font-size: 35px;
  text-align: center;
}

.startup_details {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #284949;
}

.startup_info {
  background-color: #284949;
  height: 300px;
}

.alloted {
  background-color: #284949;
  text-align: center;
  color: white;
  font-size: 25px !important;
}

.startup_info p {
  color: white;
  font-size: 18px;
  word-spacing: 3px;
  letter-spacing: 1.5px;
}

.startup_details span {
  display: inline;
  padding: 4px;
  border: 1px solid rgb(245, 199,149);
  color: #F1C688;
  background-color: rgba(245, 199, 149,0);
}

.button_click {
  display: block;
  background-color: #F1C688;
  border: 0px;
  padding: 7px 20px;
  letter-spacing: 1.5px;
  color: black;
  border-radius: 3px;
}

.button_click:hover {
  box-shadow: 0px 5px 5px 0px #F4DFBA;
}

.requirements {
  border-radius: 15px;
  padding-top:10px;
  margin-top: 20px;
  padding: 20px;
  background-color: #F3F5F4;

}

.startup_brief {
  background-image: url('/assets/client_1.jpg');
  background-position: center-center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 0px;
}


.index_comma {
  background-image: linear-gradient(0deg,rgba(20,20,20,0.5),rgba(20,20,20,0.5)),url('/assets/index_2.jpeg');
  background-position: center-center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 0px;
  
}


.startup_brief p {
  font-size: 35px;
  font-weight: 600;
}

.p_req {
  letter-spacing: 0px;
  word-spacing: 3px;
  text-align: justify;
  font-family: 'Lora', serif;
}

.card {
  display: table;
  padding: 10px;
  height: 350px
  
}

.alignment {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding-right: 30px;
  padding-bottom: 10px;
  text-align: right;
}

.card_background {
  display: table-cell;

  background-image: 
  linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
  url('/assets/card_bg_2.jpg');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 color: white;
  text-align: center;
}

.card_background h2 {
  text-overflow: ellipsis;
  color: white;
  font-size: 25px;
   text-transform: uppercase;
}

.card_background p {
  font-size: 15px;
  font-weight: 400px;
  color: white;
  display: inline-block;
}

.card_background button {
  background-color: #FAD7A0;
 padding: 5px 10px 5px 10px;
 letter-spacing: 2px;
  color: black;
  border: 0px;
}

.card_background button:hover {
  box-shadow: 0px 5px 5px 0px #F5E3C4;
}


.view_button {
  width: 100%;
  margin-top: 7px;
  background-color: #415D52;
  border:0px;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.view_button:hover {
  background-color: #70B79C;
  box-shadow: 0px 2px 2px 0px #8C99A4;
}
.view_button2 {
  width: 100%;
  margin-top: 7px;
  background-color: #2C3E50;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.view_button2:hover {
  box-shadow: 0px 2px 2px 0px #8C99A4;
}
.view_button3 {
  width: 17%;
  margin-top: 7px;
  background-color: #2C3E50;
  border-radius: 5px;
  padding: 5px;
  color: white;
  float: right;
}
.view_button3:hover {
  box-shadow: 0px 2px 2px 0px #8C99A4;
}
.view_button1 {
  float: right;
  margin-top: -30px;
  background-color: #415D52;
  border:0px;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
.view_button1:hover {
  background-color: #70B79C;
  box-shadow: 0px 2px 2px 0px #8C99A4;
}
.heading h2 {
  text-align: center;
  font-family: 'Limelight', cursive;
 
}

.heading_highlight {
  background-color: #CBE2D0;
  border-radius: 3px;
}

.p_head {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}
.p_tech {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.h_bidding {
  font-size: 35px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;

  margin-top: 10px;
}
.client_pic {
  height: 150px;
  display: inline-block;
  border: 6px solid #E7E9EC;
}







label.error {
    display: block;
    background: transparent;
    border-color: transparent;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .9);
    padding: 2px 5px;
    color: red;
    margin-top: -20px;
}
#user_technology_ids-error {
  margin-top: 0px;
}


#error_explanation {
  background-color: #F3CF49;
  border-radius: 10px;
  padding: 5px;
}
#error_explanation h2 {
  display: none;
}

#error_explanation ul li {
  font-size: 20px;
  padding: 0px;
}


.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

html ,
body {
  height: 100%;

}
.wrapper {
  height: calc(~"100vh-100px");
  font-family: open sans-serif;
}


.footer {
 
  font-family: open sans-serif;
  background-color: #EBEDEF;
}


.notice_wrapper {
  position: absolute;
  width: 100%;
  z-index: 100;
  color: black;
  background-color: #E8E6E1;
  }

.notice_wrapper p{
      text-align: center;
    margin: 0px;
    padding: 20px 0px;
}

.navbar-header {
    background-color: white;
}
 
.flash_message {
  background-color: #F3CF49;

  border-radius: 10px;
}


.outer>#logo>a>img{ 
    float: left;
    height: 50px;
    
    margin-top: 2px;
    margin-left: 15px;
}






.site-footer {
    color: #666666;
    border-top: 0px solid #fff;
    margin: 0px auto;
    font-size: 70%;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 30px 10px 0px 10px;
    text-align: center;
    width: 100%;
}
.person {   
     height: 200px;
     border-radius: 200px;     
  }

  .person:hover {
      border-color: #f1f1f1;
      opacity: 0.7;
  }
.imgg {
 background-image: url('/assets/4.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 

  }

  .img1 {
 background-image: url('/assets/2.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 500px;

  }
   .img2 {
 background-image: 
 linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
 url('/assets/sign_up.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 100%;
  }

.button5 {
   
    background-color: transparent; 
    border: none;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
     color: black;   
}
.button5:hover {
   
    text-decoration: none;
    color: black;
}
.glysize{
  font-size: 30px;
}

.button2>a{
  color: black;
   font-size: 30px;
}
.button2>a:hover {
   
    text-decoration: none;
    color: black;
}
.register-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 120px;
    min-width: 200px;

}


.tag-line {
    position: absolute;
    font-size: 30px;
   
   width: 100%;
    text-align: right;
    float: left;
    text-align: left;
   margin-left: 70px;
    font-family: oblique;
}
.but{
  margin-top: 50px;

}
.navbar-nav>li>a:hover {
  background-color: white;
  color: #F08080;

}
.navbar-nav>li>a {
   font-family: open sans-serif;

  color: black;
}

.line{
   position: absolute;
    font-size: 20px;
    
   width: auto;
    text-align: right;
    float: left;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
     font-family:  oblique;
   

}

.im{
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.indexno{
  margin-top: 30px;

}
span.icon-bar{
    background-color: black;

}
.colo{
  color: black;

}
.colo:hover{
  text-decoration: none;
  color:  #F08080;
}
.log{
    width: 360px;
     padding: 1% 0 0;
     margin: auto;
      position: relative;
     background: rgba(255,255,255,0.7);
     padding-left: 30px;
     padding-right: 30px;
     margin-top: 30px;
     margin-bottom: 30px;


}
.inst_form{
    
     padding: 1% 0 0;
     margin: auto;
      position: relative;
     background: rgba(255,255,255,0.3);
     padding-left: 30px;
     padding-right: 30px;
     margin-top: 30px;
     margin-bottom: 30px;


}
.log2{
    width: auto;
     padding: 1% 0 0;
     margin: auto;
      position: relative;
     background: rgba(255,255,255,0);
     padding-left: 30px;
     padding-right: 30px;
     margin-top: 30px;
     margin-bottom: 30px;
}

.log1{
    width: 360px;
     padding: 1% 0 0;
     margin: auto;
      position: relative;
     background: rgba(255,255,255,0.3);
     padding-left: 30px;
     padding-right: 30px;
     margin-top: 100px;
     margin-bottom: 30px;


}
@media(max-width: 390px){
  .log{
   
    width: auto !important;


}

@media(max-width: 360px){
  .buttons{
   padding-top:10px;
}
}

}
@media(max-width: 390px){
  .log1{
   
    width: auto !important;


}

}
input[type=email], input[type=password], input[type=password], input[type=text], input[type=text] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=text]:focus {
    background-color: #ddd;
    outline: none;
     border: 1px solid black; 
  
  }
 
input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
     margin-top: -8px;
}

input[type=submit]:hover {
    color: white;

}
#user_technology_ids{
  width: 300px;
  
  text-align: center;
}
@media (max-width: 390px){
  #user_technology_ids{
  width: 280px !important; 
 
}

}
.center-block{
  width:500px; 
  margin: 0 auto;
   float: middle;
}
@media (max-width: 390px){
 .center-block{
  width: auto !important; 
 
}

}

.tab {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   float: left;
   margin:0 5px;
display: inline-block;
    color: #616576;
    background: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
   
   
    text-align: center;
    border: none;
    margin-top: 170px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: black;

}

/* Change background color of buttons on hover */
.tab button:hover {
   
    background-color: black;
    color: white;
}

/* Create an active/current tablink class */
.tab button.active {

background-color: black;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}
 .pro_detail{
  margin: auto;

 }
 .thumbnail{
  border: 2px blue;
 background-color: #F5F5F5;

 }
 .thumbnail:hover{
  box-shadow: 0px 10px 10px 0px #A9BCCD;

 }
 #myform {
  display:none;

}
.startupindex{
  background: linear-gradient(0deg,rgba(255,255,255,0.4),rgba(255,255,255,0.4)),url('/assets/com1.jpg');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}
.startup_proj{
  background-image: url('/assets/p5.png');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}
.add_pic{
  background: linear-gradient(0deg,rgba(255,255,255,0.3),rgba(255,255,255,0.3)),url('/assets/coin3.jpeg');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 margin-top: 20px;

}
.newbid{
  margin-top: 10px !important;
  letter-spacing: 1.5px;
    padding: 5px 25px 5px 25px !important;
   width: auto !important;
   display: inline-block;
   border-radius: 0px !important;
  }
#add_installment{
     width: auto;
    color: white;
    margin-top: 10px !important;
    letter-spacing: 1.5px;
    background-color: black;
    padding: 5px 25px 5px 25px;
    text-decoration: none;
    display: inline-block;
     position: relative;
    



  }
  .new_bid{
    width: 100%;
    display: inline-block;
  }
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.pro_page{
 
 
  background-image: url('/assets/project.jpg');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}
.pro_index{
 
 
  background: linear-gradient(0deg,rgba(20,20,20,0.7),rgba(20,20,20,0.7)),url('/assets/startup_index.jpeg');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}
.pro_page1{
  background: linear-gradient(0deg,rgba(20,20,20,0.5),rgba(20,20,20,0.5)),url('/assets/project_page.jpg');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}

.pro_form{
  background: #e6e6ff;
  margin-top: 30px;
     margin-bottom: 30px;

}
.pro_form1{
  
  margin-top: 30px;
     margin-bottom: 30px;
     background: linear-gradient(0deg,rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url('/assets/usefultips1.jpg');
  background-repeat: no-repeat;
 background-position: center;
 background-size: cover; 
 height: 700px;
     
}
@media(max-width: 1000px){
  .pro_form1{
   
  height:  auto !important;


}

.job_offer>a{
  color: black;
  float: right;
  font-size: 15px;
  margin-top: 20px;
  text-decoration: none;

}
.job_offer1>a{
  color: black;
  float: right;
  font-size: 15px;
  text-decoration: none;
  margin-top: -20px;

}

.accept_btn{
  float: right;
  margin-bottom: 20px;

}
.accept_btn>a{
  font-size: 15px;
  text-decoration: none;
  color: black;
}


.pro>a{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 35px;
  color: black;
  text-decoration: none;

}
.pro>a:hover{
  color: black;
  text-decoration: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.project_desc{
  background-image: url('/assets/project_desc.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 
}
